---
layout: page
---

<div id="masonry">
  {% for post in site.categories.[page.category] %}
    <div class="gutter-sizer"> </div>
    <div class="masonry-item">
      <a href="{{ post.url | relative_url }}"><img src="{{ post.thumbnail }}" /></a>
      <p>{{ post.date | date: "%B %-d, %Y" }} <br/>
      {% if post.title %} &#8627; <a href="{{ post.url | relative_url }}">{{ post.title }}</a> {% endif %}
      </p>
    </div>
  {% endfor %}
</div>

<h2 class="category-index"><a href="{{ site.baseurl }}/category/doodle-index.html">browse by month</a></h2>